$color-success: rgb(11, 163, 96);
$color-info: rgb(2, 144, 205);
$color-warning: rgb(255, 187, 0);
$color-danger: rgb(182, 2, 5);
$color-disabled: rgb(122, 122, 122);

:root {
    --color-background: rgb(240, 240, 240);

    --color-sidebar: rgb(255, 255, 255);
    --color-sidebare-text: rgb(60, 60, 60);
    --color-sidebare-text-muted: rgb(112, 112, 112);

    --color-text: rgb(112, 112, 112);
    --color-text-white: rgb(255, 255, 255);
    --color-text-black: rgb(0, 0, 0);
    --color-text-muted: rgb(128, 128, 128);

    --color-cards: rgb(255, 255, 255);

    --color-scrollbar-thumb: rgb(128, 128, 128);

    --color-success: rgb(11, 163, 96);
    --color-info: rgb(2, 144, 205);
    --color-warning: rgb(255, 187, 0);
    --color-danger: rgb(182, 2, 5);
    --color-disabled: rgb(122, 122, 122);

    --color-tertiary: rgb(46,84,88);
    --color-tertiary-light: rgb(80,103,106);
    --color-tertiary-disabled: rgb(136,136,136);

    --color-missing: rgb(255, 49, 186);
}
