:root {
  --color-background: rgb(26, 35, 57);

  --color-sidebar: rgb(43, 48, 84);
  --color-sidebare-text: rgb(210, 210, 210);
  --color-sidebare-text-muted: rgb(180, 180, 180);

  --color-text: rgb(210, 210, 210);
  --color-text-inverted: rgb(0, 0, 0);
  --color-text-muted: rgb(128, 128, 128);

  --color-cards: rgb(27, 34, 58);
}
