:root {
    // --main-bg-color: #f0f0f0;
    // --main-header-color: rgb(207, 230, 237);
    // --main-sidebar-color: rgb(255, 255, 255);
    // --main-footer-color: rgb(228, 228, 228);
    // --main-title-color: rgb(46, 46, 46);
    // --main-text-color: rgb(112, 112, 112);
    // --text-color-muted: rgb(128, 128, 128);
    // --text-color-selected: rgb(0, 0, 0);
    // --main-accent-color: rgb(255, 170, 0);
    // --link-color: rgb(207, 139, 3);
    // --link-color-hover: rgb(255, 170, 0);

    --color-background: rgb(240, 240, 240);

    --color-sidebar: rgb(255, 255, 255);
    --color-sidebare-text: rgb(60, 60, 60);
    --color-sidebare-text-muted: rgb(112, 112, 112);

    --color-text: rgb(112, 112, 112);
    --color-text-muted: rgb(128, 128, 128);

    --color-cards: rgb(255, 255, 255);

    --color-scrollbar-thumb: rgb(128, 128, 128);

    --color-success: #0ba360;
    --color-success-text: rgb(255, 255, 255);
    --color-info: #0290cd;
    --color-info-text: rgb(255, 255, 255);
    --color-warning: #ffc107;
    --color-warning-text: rgb(255, 255, 255);
    --color-danger: #f53c5b;
    --color-danger-text: rgb(255, 255, 255);
}
