$color-success: rgb(11, 163, 96);
$color-info: rgb(2, 144, 205);
$color-warning: rgb(240, 180, 0);
$color-danger: rgb(245, 60, 91);

:root {
    --color-background: rgb(240, 240, 240);

    --color-sidebar: rgb(255, 255, 255);
    --color-sidebare-text: rgb(60, 60, 60);
    --color-sidebare-text-muted: rgb(112, 112, 112);

    --color-text: rgb(112, 112, 112);
    --color-text-white: rgb(255, 255, 255);
    --color-text-black: rgb(0, 0, 0);
    --color-text-muted: rgb(128, 128, 128);

    --color-cards: rgb(255, 255, 255);

    --color-scrollbar-thumb: rgb(128, 128, 128);

    --color-success: rgb(11, 163, 96);
    --color-info: rgb(2, 144, 205);
    --color-warning: rgb(240, 180, 0);
    --color-danger: rgb(245, 60, 91);
}
