img {
    opacity: .75;
    transition: opacity .5s ease-in-out;

    &:hover{
        opacity: 1;
    }

    &.img_light {
        display: none;
    }
    &.img_dark {
        display: inline;
    }
}
